@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Montserrat', sans-serif;
    @apply bg-primary text-secondary;
  }
}

@layer components {
  .cta,
  .cta-secondary {
    @apply cursor-pointer rounded-[4px] p-2 text-center uppercase text-secondary active:scale-95 active:opacity-70 active:transition active:duration-200;
  }

  .cta {
    @apply bg-cta hover:bg-cta-hover;
  }

  .cta-secondary {
    @apply border border-silver bg-cta-secondary bg-opacity-80 hover:bg-cta-secondary-hover hover:text-black;
  }

  .navbar {
    @apply h-header-small text-[13px] leading-[15px] sm:h-header-large;
  }

  .carousel {
    @apply mt-header-small sm:mt-header-large;
  }

  .carousel-slide,
  .carousel-img {
    @apply rounded-lg;
  }
  .carousel-slide {
    @apply border border-secondary;
  }

  .brand {
    @apply relative flex h-32 w-full cursor-pointer rounded-lg border-[3px] border-secondary border-opacity-10 transition duration-300 hover:scale-105 hover:border-opacity-80;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
